<!DOCTYPE html>
<html>
  <head>
    <title>Quiz1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <header class="row">
      <div class="col-3">
        <div class="headline">
          <br />
        QUIZ ONE
      </div>
      </div>
    </header>
    <br class ="clear">
    <%= yield %>
  <body>
    
  </body>
</html>
